:root {
  --animation-speed: 250ms;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.layer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  user-select: none;
  cursor: default;
}

.layer--animatable {
  transform: translateX(-100%); /* Position the layer off-screen on page load */
  will-change: transform;
}
.layer--animatable-child {
  will-change: transform;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time {
  font-size: calc(32px + 11vmin);
  display: flex;
  align-items: center;
  position: relative;
}

.hour {
  position: absolute;
  right: 100%;
}
.minute {
  margin: 0 calc(8px + 2vmin);
}
.second {
  position: absolute;
  left: 100%;
}

.timezone {
  font-size: calc(10px + 3vmin);
  text-transform: uppercase;
}

#time-static {
  color: hsl(240, 60%, 60%);
}

#time-overlay {
  color: white;
  background-color: hsl(240, 60%, 60%);
  overflow: hidden;
}

.hide {
  transform: translateX(100%);
}

.speaker {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  width: 23px;
  padding: 5px;
}

#click-here {
  font-size: 24px;
  color: red;
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
}
#click-here::after {
  content: '';
  display: block;
  position: absolute;
  left: 17px;
  top: calc(100% - 5px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white;
}

#video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
}

.show-from-left {
  animation: showFromLeft var(--animation-speed) ease-out forwards;
}
.show-from-left .layer--animatable-child {
  animation: showFromRight var(--animation-speed) ease-out forwards;
}

.hide-to-bottom {
  animation: hideToBottom var(--animation-speed) ease-out forwards;
}
.hide-to-bottom .layer--animatable-child {
  animation: hideToTop var(--animation-speed) ease-out forwards;
}

.show-from-right {
  animation: showFromRight var(--animation-speed) ease-out forwards;
}
.show-from-right .layer--animatable-child {
  animation: showFromLeft var(--animation-speed) ease-out forwards;
}

.hide-to-top {
  animation: hideToTop var(--animation-speed) ease-out forwards;
}
.hide-to-top .layer--animatable-child {
  animation: hideToBottom var(--animation-speed) ease-out forwards;
}

@keyframes showFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes hideToBottom {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}

@keyframes showFromRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes hideToTop {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}
