// Horizontally and vertically center child elements.
flexCenter()
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

// Stretch to fill the parent element size.
fill()
  width: 100%
  height: 100%

// Stretch to fill the entire screen.
fillScreen()
  fill()
  position: fixed

mobile()
  @media screen and (max-width: 420px)
    {block}
